<!-- templates/administration/therapist/therapist_form.html -->
{% extends 'snippets/base.html' %}
{% load static %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{% if therapist %}Редактирование терапевта{% else %}Новый терапевт{% endif %}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'reception_auth:main_screen' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'administration:therapist_list' %}">Терапевты</a></li>
                    <li class="breadcrumb-item active">{% if therapist %}Редактирование{% else %}Добавление{% endif %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Данные терапевта</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="{{ form.f_name.id_for_label }}">Имя</label>
                                {{ form.f_name.errors }}
                                <input type="text" class="form-control {% if form.f_name.errors %}is-invalid{% endif %}"
                                       id="{{ form.f_name.id_for_label }}" name="{{ form.f_name.html_name }}"
                                       value="{{ form.f_name.value|default:'' }}" required>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.l_name.id_for_label }}">Фамилия</label>
                                {{ form.l_name.errors }}
                                <input type="text" class="form-control {% if form.l_name.errors %}is-invalid{% endif %}"
                                       id="{{ form.l_name.id_for_label }}" name="{{ form.l_name.html_name }}"
                                       value="{{ form.l_name.value|default:'' }}" required>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.m_name.id_for_label }}">Отчество</label>
                                {{ form.m_name.errors }}
                                <input type="text" class="form-control {% if form.m_name.errors %}is-invalid{% endif %}"
                                       id="{{ form.m_name.id_for_label }}" name="{{ form.m_name.html_name }}"
                                       value="{{ form.m_name.value|default:'' }}">
                            </div>

                            <div class="form-group">
                                <label for="{{ form.phone_number.id_for_label }}">Телефон</label>
                                {{ form.phone_number.errors }}
                                <input type="text" class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}"
                                       id="{{ form.phone_number.id_for_label }}" name="{{ form.phone_number.html_name }}"
                                       value="{{ form.phone_number.value|default:'' }}">
                            </div>

                            <div class="form-group">
                                <label for="{{ form.sex.id_for_label }}">Пол</label>
                                {{ form.sex.errors }}
                                <select class="form-control {% if form.sex.errors %}is-invalid{% endif %}"
                                        id="{{ form.sex.id_for_label }}" name="{{ form.sex.html_name }}">
                                    <option value="True" {% if form.sex.value == True %}selected{% endif %}>Мужской</option>
                                    <option value="False" {% if form.sex.value == False %}selected{% endif %}>Женский</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.rate.id_for_label }}">Ставка (%)</label>
                                {{ form.rate.errors }}
                                <input type="number" class="form-control {% if form.rate.errors %}is-invalid{% endif %}"
                                       id="{{ form.rate.id_for_label }}" name="{{ form.rate.html_name }}"
                                       value="{{ form.rate.value|default:'15' }}" min="0" max="100">
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            <a href="{% url 'administration:therapist_list' %}" class="btn btn-default float-right">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}