{% extends 'snippets/base.html' %}
{% load static %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Информация о Массажисте</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'reception_auth:main_screen' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'administration:therapist_list' %}">Массажисты</a></li>
                    <li class="breadcrumb-item active">{{ therapist.full_name }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}danger{% else %}info{% endif %} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-md-4">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="{% static 'adminlte3_assets/dist/img/avatar-default.png' %}"
                                 alt="Фото Массажиста">
                        </div>

                        <h3 class="profile-username text-center">{{ therapist.full_name }}</h3>

                        <p class="text-muted text-center">Массажист</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Имя</b> <a class="float-right">{{ therapist.f_name }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Фамилия</b> <a class="float-right">{{ therapist.l_name }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Отчество</b> <a class="float-right">{{ therapist.m_name|default:"-" }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Телефон</b> <a class="float-right">{{ therapist.phone_number|default:"-" }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Пол</b> <a class="float-right">{% if therapist.sex %}Мужской{% else %}Женский{% endif %}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Ставка</b> <a class="float-right">{{ therapist.rate }}%</a>
                            </li>
                        </ul>

                        <div class="text-center">
                            <a href="{% url 'administration:therapist_update' therapist.pk %}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Редактировать
                            </a>
                            <a href="{% url 'administration:therapist_delete' therapist.pk %}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i> Удалить
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}