{% load humanize %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hayat Medical Center</title>

    <!-- Google Font: Source Sans Pro -->
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/bs-stepper/css/bs-stepper.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/dropzone/min/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/jqvmap/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/summernote/summernote-bs4.min.css' %}">
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <!-- Navbar -->
    {% include 'snippets/navbar.html' %}
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <br>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{ session.massage }}</h3>

                                <p>Услуга</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{ session.discount }}<sup style="font-size: 20px">%</sup></h3>

                                <p>Скидка</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>{{ session.overall_payed_amount|default_if_none:0|intcomma }} сум</h3>

                                <p>Депозит/Оплачено</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>{{ session.remaining_payed_amount|default_if_none:0|intcomma }} сум</h3>

                                <p>Долг</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-android-arrow-up "></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Бронирование :{{ session.series }}</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <label for="arrival-date-picker">Время выездa</label>
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            {{ session.end_date }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Имя гостя</th>
                                            <th>Забронированное время</th>
                                            <th>Тип услуги</th>
                                            <th>Услуга</th>
                                            <th>Терапевт</th>
                                            <th>Кол-во</th>
                                            <th>Обш.Сумма</th>
                                            <th>Скидка</th>
                                            <th>Итог. Сумма</th>
                                            <th>Оплаченная сумма</th>
                                            <th>Статус оплаты</th>
                                        </tr>
                                    </thead>

                                    <tbody id="session-table-body">
                                    <tr>
                                        <td>{{ session.id }}</td>
                                        <td>
                                            {{ session.patient.full_name }}
                                        </td>
                                        <td>{{ session.created_at }}</td>
                                        <td>{{ session.massage.type }}</td>
                                        <td>{{ session.massage.name }}</td>
                                        <td>{{ session.therapist.full_name }}</td>
                                        <td>{{ session.quantity }}</td>
                                        <td>{{ session.pre_discount_price|intcomma }} сум</td>
                                        <td>{{ session.discount  }} %</td>
                                        <td>{{ session.total_price|intcomma }} сум</td>
                                        <td>{{ session.overall_payed_amount|default_if_none:0|intcomma}} сум</td>
                                        <td>
                                            {% if session.overall_payed_amount != 0 and session.is_paid == False %}
                                                <span class="bg-warning badge">Частично Оплачено</span>
                                            {% elif session.is_paid == True %}
                                                <span class="bg-success badge">Оплачено</span>
                                            {% else %}
                                                <span class="bg-danger badge"> Не Оплачено</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">

                                    {% if sessions.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?{% if query %}q={{ query }}&{% endif %}page={{ sessions.previous_page_number }}">&laquo;</a>
                                        </li>
                                    {% endif %}

                                    {% for i in sessions.paginator.page_range %}
                                        {% if sessions.number == i %}
                                            <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?{% if query %}q={{ query }}&{% endif %}page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if sessions.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?{% if query %}q={{ query }}&{% endif %}page={{ sessions.next_page_number }}">Next</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?{% if query %}q={{ query }}&{% endif %}page={{ sessions.paginator.num_pages }}">Last
                                                &raquo;</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-info">
                                <div class="card-header">
                                    <h5 class="card-title">История оплаты</h5>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="#">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h2 class="card-title"><b>Общая
                                                        сумма: </b> {{ session.overall_payed_amount|intcomma }} сум</h2>
                                                </div>

                                            </div>

                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Сумма</th>
                                                    <th>Тип</th>
                                                    <th>Дата</th>
                                                    <th>Автор</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for i in payments %}
                                                    <tr>
                                                        <td>{{ i.amount|intcomma }} сум</td>
                                                        <td>{{ i.created_at }}</td>
                                                        <td>{{ i.method }}</td>
                                                        <td>{{ i.created_by.full_name }}</td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>

                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <!-- accepted payments column -->

                        <!-- /.col -->
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <a href="#" data-toggle="modal" data-target="#modal-payment"
                                       class="btn btn-success float-left" style="margin-right: 5px;">
                                        <i class="fas fa-coins"></i> Закрыть счет
                                    </a>
                                </div>
                            </div>
                            <div class="modal fade" id="modal-payment">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Закрыть счет</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form id="payment_form" method="POST" action="{% url 'reception_registration:whole_payment' session.id %}">
                                            {% csrf_token %}
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="example_fname">Тип оплаты</label>
                                                    <select class="form-control select2"
                                                            style="width: 100%;" name="method">

                                                        {% for type in methods %}
                                                            <option value="{{ type.0 }}">{{ type.0 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group disabled">
                                                    <label for="example_last_name">К оплате</label>
                                                    <input disabled name="amount" type="number" class="form-control"
                                                           id="amount"
                                                           placeholder="{{ session.remaining_payed_amount|intcomma }} сум">
                                                </div>

                                            </div>
                                            <!-- /.card-body -->

                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Закрыть
                                                </button>
                                                <button name="payment_form" type="submit" class="btn btn-primary">Сохранить</button>
                                            </div>
                                        </form>

                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 210px;">
                                    <a href="#" data-toggle="modal" data-target="#modal-deposit"
                                       class="btn btn-primary float-right" style="margin-right: 5px;">
                                        <i class="fas fa-coins"></i> Пополнить депозить
                                    </a>
                                </div>
                            </div>
                            <div class="modal fade" id="modal-deposit">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Пополнить депозить</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form id="deposit_form" method="POST" action="{% url 'reception_registration:singular_payment' session.id %}">
                                            {% csrf_token %}
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="example_fname">Тип оплаты</label>
                                                    <select class="form-control select2"
                                                            style="width: 100%;" name="method">

                                                        {% for type in methods %}
                                                            <option value="{{ type.0 }}" >{{ type.0 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group disabled">
                                                    <label for="example_last_name">К оплате</label>
                                                    <input name="amount" type="number" class="form-control"
                                                           id="amount"
                                                           placeholder="{{ total_sum|intcomma }}">
                                                </div>

                                            </div>
                                            <!-- /.card-body -->

                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Закрыть
                                                </button>
                                                <button name="deposit_form" type="submit" class="btn btn-primary">Сохранить</button>
                                            </div>
                                        </form>

                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->


{% include 'snippets/footer.html' %}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- jQuery -->

<script src="{% static 'adminlte3_assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/dropzone/min/dropzone.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/dist/js/pages/dashboard.js' %}"></script>
<!-- Page specific script -->

</body>
</html>
